h1 {

    font-family: 'ToucheW03-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
    /* or 116% */

    text-align: center;

    color: #FFFFFF;

}





p {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;

    color: #FFFFFF;
}
