html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


body {
  background: radial-gradient(50% 50% at 50% 50%, #791563 0%, #36052C 91.67%, #36052C 100%);
  color: white;
  font-family: 'DM Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

