
.main {
  padding-top: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav a {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #D1B5B2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}
.nav a:hover {
  background-color: #610b50;
  color: white;

}
.hero_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_image > div{
  display: block;
  width: 75%;
  max-width: 25rem;
  position: relative;
  transform: translateY(10%);
}
.img2 {
  position: absolute;
  top: 0;
  left: 50%;
}



.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 3rem;
  line-height: 1;
}

.title,
.description {
  text-align: center;
  width: 100%;
  max-width: 35rem;
}
.title span {
  color: #D1B5B2;
}

.description {
  line-height: 1.5;
}
.footer {
  display: flex;
  padding: 2rem 2rem;
  background: #1F0319;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 5rem 0;
  flex-wrap: wrap;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy {
  align-self: flex-end;
}

.mail, .follow {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
.follow {
  align-self: flex-end;
}
.follow .icon{
  color: #D1B5B2;
}
.mail a {
  font-size: 2rem;
}

.icon{
  width: 1.5rem;
}
.mail .icon {
  color: #D4108A;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
    gap: 2rem;
    text-align: center;
  }
  .info {
    align-items: center;
  }
  .follow {
    align-self: center;
  }
  .copy {
    align-self: center;
  }
  .title {
    font-size: 2rem;
  }
  .nav {
    padding: 1rem 1rem;
  }
  .mail a {
    font-size: 1.2rem;
    word-wrap: break-word;
  }
}

